@model JosephOlin.Web.Models.Person
@{
    ViewBag.Title = "Contact Me";
}
<section id="contact">
    <div class="text-center container-fluid text-primary contact-container">
        <h2>Contact Me</h2>
        <hr class="contact-title" />
        <br />
        <p>Email: @Model.Email</p>
        <p>Phone: @Model.Phone</p>
        <p>LinkedIn: <a class="linkStyle" href="https://www.linkedin.com/in/joseph-blaine-olin-873a5690" target="_blank">Joseph Blaine Olin</a></p>
        <p>GitHub: <a class="linkStyle" href="https://github.com/joblolin95" target="_blank">joblolin95</a></p>
    </div>
</section>
