<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2></h2>
            <a href="@Url.Action("DisplayResume")" target="_blank">
                <span class="btn navbar-btn btn-lg btn-info">Resume</span>
            </a>
        </div>
    </div>
</div>


