@model JosephOlin.Web.Models.Person
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <div class="container-fluid navbar-static-bottom" style="background-color: white; padding: 20px;">
        <p class="text-uppercase pull-right"><em style="color: black;">Created by </em><strong class="text-primary">Joseph Olin</strong></p>
    </div>
