@model JosephOlin.Web.Models.Person
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

<nav class="navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
        <p class="text-uppercase pull-right"><em style="color: beige;">Created by </em><strong class="text-danger">Joseph Olin</strong></p>
    </div>
</nav>