@model JosephOlin.Web.Models.Person

    <div class="container-fluid" style="background-color: white; padding: 20px; margin-top:30px;">
        <ul class="list-inline text-center" style="margin-left:auto; margin-right: auto;">
            <li>
                <a href="https://github.com/joblolin95">
                            <i class="fa fa-github-square fa-3x"></i>                    
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/joseph-blaine-olin-873a5690">
                    <i class="fa fa-linkedin-square fa-3x"></i>
                </a>
            </li>
         </ul>
        <p class="text-uppercase text-center" style="color: black;">
            Copyright <i class="fa fa-copyright"></i> 2016 - <strong class="text-primary">Joseph Olin</strong>
        </p>
    </div>
