@model JosephOlin.Web.Models.Person
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <div class="container-fluid" style="background-color: white; padding: 20px; margin-top:30px;">
        <p class="text-uppercase pull-right" style="color: black;">Copyright <> 2016 - <strong class="text-primary">Joseph Olin</strong></p>
    </div>
