
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Hello Zirmed</title>
</head>
<body class="text-center bg-primary">
    <h2>Welcome to my website</h2>
    <div class="bg-success"> Hello Zirmed!
    </div>
    <div class="text-uppercase"> Joseph Olin </div>
</body>
</html>
