
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello Zirmed</title>
</head>
<body>
    <div> Hello Zirmed!
    </div>
</body>
</html>
