@model JosephOlin.Web.Models.Person
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<body>
    <h2>Welcome to my website</h2>
    <div> Hello Zirmed!
    </div>
    <div class="text-uppercase"> @Model.Name </div>
</body>

