@model JosephOlin.Web.Models.Person
@{
    ViewBag.Title = "Joseph Olin's Site";
}

<!DOCTYPE html>
<container class="text-center">
    <h2 class="text-uppercase">About</h2>
    <p>My name is @Model.Name and I am an @Model.Position at @Model.Employer.</p>
</container>

