@model JosephOlin.Web.Models.Person
@{
    ViewBag.Title = "Joseph Olin's Site";
}

<!DOCTYPE html>

<div class="jumbotron">
    <div>The professional website of </div>
    <h1>@Model.Name</h1>
    <p> </p>
</div>
<container>
    <h2 class="text-center text-uppercase">About</h2>
    <p>My name is @Model.Name and I am an @Model.Position at @Model.Employer.</p>
</container>

