@model JosephOlin.Web.Models.Person
@{
    ViewBag.Title = "Joseph Olin's Site";
}
<!--Use Bootstrap's row and col classes to center the content on the page-->
<body>
    <div class="jumbonav jumbotron text-center">
        <div class="jumbo-margin">
            <div class="welcome-message">The professional website of </div>
            <h1 class="welcome-brand">@Model.Name</h1>
        </div>
    </div>

    @Html.Partial("_About")
    @Html.Partial("_Contact")
</body>
