@model JosephOlin.Web.Models.Person

<div class="jumbotron text-center" style="background:
                                        url(/Content/Pics/postcard.JPG);
                                          background-size:cover; background-repeat:no-repeat;
                                          height:500px;">
    <div>The professional website of </div>
    <h1 style="font-family:'Yesteryear', 'Carme', sans-serif;">@Model.Name</h1>
    <p> </p>
</div>
@*http://www.photoserver.us/wp-content/uploads/person-landscape-photography-20150703094224-559659002d895.jpg*@