@model JosephOlin.Web.Models.Person

<div class="jumbotron text-center" style="background:
                                        url(http://www.photoserver.us/wp-content/uploads/person-landscape-photography-20150703094224-559659002d895.jpg);
                                          background-size:cover; height: 1000px">
    <div>The professional website of </div>
    <h1>@Model.Name</h1>
    <p> </p>
</div>