<div class="jumbotron text-center jumbonav">
    <div class="jumbo-margin">
        <div class="welcome-message">The professional website of </div>
        <h1 class="welcome-brand">@Model.Name</h1>
    </div>
</div>
@*http://www.photoserver.us/wp-content/uploads/person-landscape-photography-20150703094224-559659002d895.jpg*@