@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Home/_BasicLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>Oops!</h1>
            <h2>404</h2>
            <small>The page you were seeking could not be found. Why don't you try my homepage?</small>
            <br />
            <a href="@Url.Action("Index", "Home")"><span class="btn navbar-btn btn-lg btn-info">Home</span></a>
        </div>
    </div>
</div>